@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:500&display=swap");

@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Playfair Display";
$fontSize: 14;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1200;
$maxWidthContainer: 900;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #626262;
$primaryColor: #b4ad9e;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: content-box;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
//@import "popup";
@import "header";
@import "footer";
//@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	&__hero {
	}
	&__about {
		@include adaptiv-value("padding-top", 90, 40, 1);
		@include adaptiv-value("padding-bottom", 130, 50, 1);
	}
	&__news {
	}
	&__sign-up {
		@include adaptiv-value("margin-top", 120, 50, 1);
		@include adaptiv-value("margin-bottom", 100, 50, 1);
	}
}
//===================================================================================================================================
.hero {
	&__container {
		padding: 0;
		max-width: 1062px;
	}
	&__image {
		min-height: 480px;
		padding: 0px 0px math.div(675, 1062) * 100% 0px;
	}
}
//====================================================================================================
.about {
	&__body {
		& > *:last-child {
			margin-bottom: 0;
		}
	}
	&__suptitle {
		margin: 0px 0px math.div(20, $fontSize) * 1em 0px;
	}
	&__title {
		margin: 0px 0px math.div(40, 30) * 1em 0px;
	}
	&__text {
		@include adaptiv-value("margin-bottom", 50, 30, 1);
	}
	&__comment {
		display: inline-block;
		font-family: "Ubuntu";
		color: $primaryColor;
		text-transform: uppercase;
		line-height: math.div(24, $fontSize) * 100%;
		margin: 0px 0px math.div(16, $fontSize) * 1em 0px;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
//====================================================================================================
.news {
	text-align: center;
	&__body {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
		@include adaptiv-value("column-gap", 60, 0, 1);
		@include adaptiv-value("row-gap", 130, 60, 1);
	}
	&__button {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 0px 30px;
		min-height: 58px;
		border: 1px solid $mainColor;
		color: inherit;
		font-size: 20px;
		line-height: math.div(24, 20) * 100%;
		@include adaptiv-value("margin-top", 160, 60, 1);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: $mainColor;
			}
		}
	}
}
.item-news {
	display: grid;
	@include adaptiv-value("row-gap", 15, 10, 1);
	&__image {
		display: block;
		padding: 0px 0px math.div(316, 474) * 100% 0px;
		overflow: hidden;
		img {
			transition: transform 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.05);
				}
			}
		}
		@media (max-width: $md4+px) {
			margin: 0px -15px;
		}
	}
}
//====================================================================================================
.sign-up {
	background-color: #f0f0f0;
	&__body {
		text-align: center;
		@include adaptiv-value("padding-top", 70, 40, 1);
		@include adaptiv-value("padding-bottom", 70, 40, 1);
	}
	&__title {
		color: #333333;
		letter-spacing: 0.025em;
		@include adaptiv-value("margin-bottom", 70, 30, 1);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.form {
	max-width: 400px;
	margin: 0px auto;
	&__item {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #000;
		padding: 0px 0px 8px 5px;
	}
	&__input {
		flex: 1 1 auto;
		background-color: inherit;
		line-height: math.div(24, $fontSize) * 100%;
		margin: 0px 20px 0px 0px;
		color: $mainColor;
	}
	&__button {
		color: $mainColor;
		font-size: 24px;
	}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
