@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:500&display=swap");

@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Playfair Display";
$fontSize: 14;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1200;
$maxWidthContainer: 900;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #626262;
$primaryColor: #b4ad9e;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: content-box;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
//@import "popup";
@import "header";
@import "footer";
//@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	&__hero {
	}
	&__about {
		@include adaptiv-value("padding-top", 90, 40, 1);
		@include adaptiv-value("padding-bottom", 130, 50, 1);
	}
}
//===================================================================================================================================
.hero {
	&__container {
		padding: 0;
		max-width: 1062px;
	}
	&__image {
		min-height: 480px;
		padding: 0px 0px math.div(675, 1062) * 100% 0px;
	}
}
//====================================================================================================
.about {
	&__body {
		& > *:last-child {
			margin-bottom: 0;
		}
	}
	&__header {
		margin: 0px 0px 30px 0px;
	}
	&__text {
		@include adaptiv-value("margin-bottom", 50, 30, 1);
	}
	&__link {
		display: inline-block;
		font-family: "Ubuntu";
		color: $primaryColor;
		text-transform: uppercase;
		line-height: math.div(24, $fontSize) * 100%;
		margin: 0px 0px math.div(16, $fontSize) * 1em 0px;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
